@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Rubik:ital,wght@1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background: black;
  color: white;
}

h1{
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}

.massage{
  width: 60%;
  height: 60px;
  overflow: scroll;
  background: #00dc00;
  color: black;
  box-shadow: 0 0 10px #00dc00,
              0 0 30px #00dc00,
              0 0 50px #00dc00;
}

.massage .heading{
  font-weight: bold;
  display: flex;
}